@import "nullstyle";
@import "fontstyle";

$gray: #313131;
$yellow: #FFE500;
$white: #ffffff;
$black: #000;

body {
  font-family: "Circular Std";
  font-size: 17px;
  color: $gray;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-family: "Circular Std Book";
  color: $gray;
  text-decoration: none;
}

.button {
  font-family: "Circular Std Book";
  display: inline-block;
  padding: 15.25px 51.79px;
  border-radius: 5px;
  background: $gray;
  color: $white;
  
  &:hover {
    opacity: 60%;
    transition: all 0.3s ease 0s;
  }
}

@import "header";