/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: 400;
  src: local('Circular Std'),
  url("../fonts/CircularStd-Book.ttf") format('ttf');
}

@font-face {
  font-family: 'Circular Std';
  font-style: normal;
  font-weight: 500;
  src: local('Circular Std'),
  url("../fonts/CircularStd-Medium.ttf") format('ttf');
}

@font-face {
  font-family: 'Circular Std Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Circular Std'),
url("../fonts/CircularStd-Bold.ttf") format('ttf');
}

@font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: 700;
  src: local('Circular Std Black'),
  url("../fonts/CircularStd-Black.ttf") format('ttf');
}

body {
  font-family: "Circular Std";
  font-size: 17px;
  color: #313131;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

[class*="__container"] {
  max-width: 1310px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.button {
  padding: 15.25px 51.79px;
  border-radius: 5px;
}

.button-dark {
  background: #313131;
  color: #ffffff
}

